.status {
    padding: 2px 10px;
    border-radius: 30px;
    color: white;
    
    &-tung-hoa-don {
        background-color: #0070c0;
    }

    &-bang-tong-hop {
        background-color: #ED7D31;
    }
}
