@import "../../../../shared/scss/modal.scss";
.note{
    font-size: 12px!important; 
    color:#1877f2; 
    float: left;
    position: relative;
    top: 3px!important;
    margin-left: 5px!important;
    vertical-align: middle!important;
}

.info-circle{
    background-color: #fff!important;
    color: #1877f2;
    font-weight: bold;
}
