@import "../../../../../../../../app/shared/scss/modal.scss";

.logo-required {
    line-height: 12px !important;
    padding-left: 0 !important;

    div,
    i,
    b {
        font-size: 9px !important;
    }
}

.adjust-font-size {
    display: flex;

    div {
        cursor: pointer;
        padding: 0 4px;
        width: 30px;
        text-align: center;
        border: 1px solid rgba(119, 119, 119, 0.6);
    }

    .decrease-size {
        position: relative;
        padding-top: 3px;
        span {
            font-size: 12px !important;
        }

        i {
            position: absolute;
            right: 2px;
            top: 3px;
        }
    }

    .increase-size {
        position: relative;

        span {
            font-size: 18px !important;
        }

        i {
            position: absolute;
            right: 2px;
            top: 3px;
        }
    }
}

:host ::ng-deep .adjust-font-size svg {
    font-size: 9px !important;
}

.color-preview {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    text-align: center;

    input {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        opacity: 0;
    }
}

.color-picker {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
}

.config-container {
    border-left: 1px solid rgba(119, 119, 119, 0.6);
    border-right: 1px solid rgba(119, 119, 119, 0.6);
    border-bottom: 1px solid rgba(119, 119, 119, 0.6);
    padding: 5px;
    background-color: #fff;
    height: 100%;
}

.logo-container {
    width: 83px;
    height: 83px;
    border: 1px solid gray;
    // background-image: url('../../../../../../../assets/empty-image.svg');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.logo-action {
    display: flex;

    .upload {
        margin-right: 10px;
    }
}
.error-duplicate{
    padding: 4px 20px 4px 10px;
    color: white;
    display: block;
    background-color: rgb(74, 74, 74);
    position: absolute;
    right: 0px;
    top: 2px;
    z-index: 1000;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px;
}
.border-error{
    border-color: red !important;
}