<div class="snowflakes" aria-hidden="true">
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
  <div class="snowflake">
    <img src="assets/hoadao.png">
  </div>
  <div class="snowflake">
    <img src="assets/hoamai.png" style="width:20px">
  </div>
</div>