    <div nz-row style="margin-bottom: 5px;">
      <div nz-row style="margin-left: 8px !important;">
        <nz-button-group nzSize="small">
          <button [disabled]="permission != true && thaoTacs.indexOf('BC_FULL') < 0 && thaoTacs.indexOf('BC_VIEW') < 0" nz-button nzType="default" (click)="clickChonBaoCao()" class="ant-btn-cus-1">
            <i nz-icon nzType="file-search" nzTheme="outline"></i>Chọn tham số
          </button>
          <button [disabled]="(permission != true && thaoTacs.indexOf('BC_FULL') < 0 && thaoTacs.indexOf('BC_VIEW') < 0 )|| baoCao == null || baoCao == undefined" nz-button nzType="default" (click)="filterData(baoCao)" class="ant-btn-cus">
            <i nz-icon nzType="retweet" nzTheme="outline"></i>Tải lại
          </button>
          <button [disabled]="(permission != true && thaoTacs.indexOf('BC_FULL') < 0 && (thaoTacs.indexOf('BC_VIEW') < 0 || thaoTacs.indexOf('BC_PRINT') < 0)) || listOfData == null || listOfData.length == 0" nz-button nzType="default" (click)="onPrintClick()" class="ant-btn-cus">
            <i nz-icon nzType="printer" nzTheme="outline"></i>In
          </button>
          <button [disabled]="(permission != true && thaoTacs.indexOf('BC_FULL') < 0 && (thaoTacs.indexOf('BC_VIEW') < 0 || thaoTacs.indexOf('BC_EXPORT') < 0)) || listOfData == null || listOfData.length == 0"  nz-button nzType="default" nz-dropdown nzTrigger="click" class="ant-btn-cus"
          [nzDropdownMenu]="menuPrint">
            <i nz-icon nzType="vertical-align-bottom" nzTheme="outline"></i>Xuất khẩu
            <nz-dropdown-menu #menuPrint="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="exportExcel()">Excel</li>
                <li nz-menu-item (click)="ExportPDF()">PDF</li>
              </ul>
            </nz-dropdown-menu>
          </button>
        </nz-button-group>
      </div>
      <div nz-row nzType="flex" nzJustify="space-around">
        <div nz-col nzSpan="6">
        </div>

        <div nz-col nzSpan="12" class="textCenter">
          <h2 style="text-transform: uppercase; font-weight: bolder;">Bảng kê chi tiết hóa đơn đã sử dụng</h2>
          <ng-container *ngIf="baoCao; else isEmptyTemplate">
            <h3>
                Từ ngày {{baoCao.tuNgay2}} đến ngày {{baoCao.denNgay2}}
            </h3>
          </ng-container>
          <ng-template #isEmptyTemplate>
            <div style="height: 20px;"></div>
          </ng-template>
        </div>

        <div nz-col nzSpan="6" nzAlign="right">
          <button [disabled]="!baoCao" nz-button nzSize="small" (click)="thietLapTruongDuLieu()" style="margin-right: 5px; float:right"><i nz-icon nzSize="small" nzType="setting"></i></button>
        </div>
      </div>
    </div>
    <!-- <hr style="border: 0.5px solid #d9d9d9" /> -->
    <div nz-row>
      <nz-table [nzNoResult]="null" nzSize="small" #fixedTable [nzData]="listOfData" nzBordered [nzTotal]="total"
        [(nzPageIndex)]="displayData.PageNumber" [(nzPageSize)]="displayData.PageSize" [nzShowPagination]="false"
        [nzLoading]="loading" [nzWidthConfig]="widthConfig" [nzScroll]="scrollConfig">
        <thead>
          <tr>
            <ng-container *ngFor="let data of sortField">
              <th nzAlign="center" *ngIf="data.status && (!baoCao || baoCao.congGopTheoHoaDon == false || (baoCao.congGopTheoHoaDon == true && data.hienThiKhiCongGop == true))">{{data.tenHienThi}}</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of fixedTable.data; let i=index" >
            <ng-container *ngFor="let item of sortField">
              <td nzAlign="{{item.align}}" *ngIf="item.status && (!baoCao || baoCao.congGopTheoHoaDon == false || (baoCao.congGopTheoHoaDon == true && item.hienThiKhiCongGop == true))">
                <span *ngIf="item.maTruong == 'ngayHoaDon' || item.maTruong == 'ngayLap'">{{ getDataWithFieldName(item.maTruong, data) | date: 'dd/MM/yyyy' }}</span>
                <span *ngIf="item.maTruong == 'hangKhuyenMai'"><label nz-checkbox (ngModel)="getDataWithFieldName(item.maTruong, data)"></label></span>
                <span *ngIf="item.maTruong != 'hangKhuyenMai' && item.maTruong != 'ngayHoaDon' && item.maTruong != 'ngayLap' && item.dinhDangSo == true" >{{ getDataWithFieldName(item.maTruong, data) | formatPrice }}</span>
                <span *ngIf="item.maTruong != 'hangKhuyenMai' && item.maTruong != 'ngayHoaDon' && item.maTruong != 'ngayLap' && item.dinhDangSo == false" >{{ getDataWithFieldName(item.maTruong, data) }}</span>
              </td>
            </ng-container>
          </tr>
          <tr *ngFor="let obj of lstBangKeEmpty">
            <td *ngFor="let empty of numberBangKeCols; let idx = index">
                <span *ngIf="idx===0" class="font-while">.</span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>