<nz-spin [nzSpinning]="spinning">
    <div style="height: 100%; padding: 9px;">
        <form nz-form [formGroup]="form">
            <div class="filter-list-container">
                <div class="ky-wrapper">
                    <div>Kỳ</div>
                    <nz-select style="width: 100%;" nzSize="small" nzShowSearch nzPlaceHolder="Chọn kỳ" formControlName="ky" (ngModelChange)="changeKy($event)">
                        <nz-option *ngFor="let item of kys" [nzLabel]="item.value" [nzValue]="item.key"></nz-option>
                    </nz-select>
                </div>
                <div class="ngay-wrapper">
                    <div>Từ ngày</div>
                    <input style="width: 100%;" nzSize="small" max="2999-12-31" type="date" nz-input formControlName="fromDate" (blur)="blurDate()" />
                </div>
                <div class="ngay-wrapper">
                    <div>Đến ngày</div>
                    <input style="width: 100%;" nzSize="small" max="2999-12-31" type="date" nz-input formControlName="toDate" (blur)="blurDate()" />
                </div>
                <div class="tim-kiem-theo-wrapper">
                    <div>Tìm kiếm theo:</div>
                    <nz-form-item>
                        <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="errorTimKiemTheo">
                            <div nz-col nzSpan="24">
                                <nz-input-group [nzPrefix]="prefixTemplateUser" nzSize="small">
                                    <input type="text" formControlName="giaTri" nz-input [placeholder]="placeHolderTimKiemTheo()" nz-tooltip [nzTooltipTitle]="placeHolderTimKiemTheo() || null" nzTooltipPlacement="bottomRight" (ngModelChange)="changeGiaTri($event)" />
                                </nz-input-group>

                                <ng-template #errorTimKiemTheo let-control>
                                    <ng-container *ngIf="control.hasError('required')">
                                        <div class="tooltip-error">&lt;Tìm kiếm theo&gt; không được để trống.</div>
                                    </ng-container>
                                </ng-template>

                                <ng-template #prefixTemplateUser>
                                    <i nz-icon nzType="setting" nzTheme="outline" nz-dropdown [nzDropdownMenu]="menuPlusMutiple2" [nzClickHide]="false"></i>
                                    <nz-dropdown-menu #menuPlusMutiple2="nzDropdownMenu">
                                        <ul nz-menu>
                                            <li nz-menu-item *ngFor="let item of timKiemTheos">
                                                <!-- <label>
                                                    <input type="checkbox" [value]="item.value" (change)="onchange_timKiemTheos($event)">
                                                    {{item.label}}
                                                  </label> -->
                                                <label ngClass='ckbcheckBox' nz-checkbox [(ngModel)]="item.checked" [nzValue]="item.value" (ngModelChange)="onchange_timKiemTheos($event)" [ngModelOptions]="{standalone: true}">{{item.label}}</label>
                                            </li>
                                        </ul>
                                    </nz-dropdown-menu>
                                </ng-template>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="lay-du-lieu-wrapper">
                    <div>&nbsp;</div>
                    <button nz-button nzSize="small" (click)="getData()" class="blueButton" style="padding: 0 10px !important;"><i nz-icon nzType="sync" nzTheme="outline"></i>Lấy dữ liệu</button>
                </div>
            </div>
        </form>
        <div nz-row>
            <nz-table class="table-hover" [nzNoResult]="null" nzSize="small" #fixedTable [nzData]="displayDatas" [nzScroll]="{ x: '1600px', y: '280px' }" [nzShowPagination]="false" [nzFrontPagination]="false" [nzTotal]="total" [nzPageIndex]="1" [(nzPageSize)]="total"
                nzBordered [nzLoading]="loading">
                <thead>
                    <tr>
                        <!-- <th nzLeft="0px" nzAlign="center" nzWidth="30px"></th> -->
                        <th nzAlign="center" nzWidth="100px" nzLeft="0px">Trạng thái hóa đơn</th>
                        <th nzAlign="center" nzWidth="100px">Ủy nhiệm lập hóa đơn</th>
                        <th nzAlign="center" nzWidth="110px">Ký hiệu mẫu số hóa đơn</th>
                        <th nzAlign="center" nzWidth="90px">Ký hiệu hóa đơn</th>
                        <th nzAlign="center" nzWidth="70px">Ngày hóa đơn</th>
                        <th nzAlign="center" nzWidth="90px">Số hóa đơn</th>
                        <th nzAlign="center" nzWidth="90px">Mã khách hàng</th>
                        <th nzAlign="center" nzWidth="90px">Tên khách hàng</th>
                        <th nzAlign="center" nzWidth="90px">Mã số thuế</th>
                        <th nzAlign="center" nzWidth="100px">Người mua hàng</th>
                        <th nzAlign="center" nzWidth="60px">Loại tiền</th>
                        <th nzAlign="center" nzWidth="100px">Tổng tiền thanh toán</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of fixedTable.data" (click)="selectedRow(data)" [class.row-selected]="data.selected">
                        <td nzAlign="center" [class.row-selected]="data.selected" nzLeft="0px">
                            <span *ngIf="data?.trangThai == 1" class="lightBlueRoundedShape" title="{{txtHD_PXK_UPPER}} gốc">{{txtHD_PXK_UPPER}} gốc</span>
                            <span *ngIf="data?.trangThai == 2" class="oldOrangeRoundedShape" title="{{txtHD_PXK_UPPER}} xóa bỏ">Xóa bỏ</span>
                            <span *ngIf="data?.trangThai == 3" class="hoaDonThayTheRoundedShape" title="{{txtHD_PXK_UPPER}} thay thế">{{txtHD_PXK_UPPER}} thay thế</span>

                            <span *ngIf="data?.trangThai == 4 && data?.loaiDieuChinh == 1" class="hoaDonDieuChinhRoundedShape" title="{{txtHD_PXK_UPPER}} điều chỉnh tăng">{{txtHD_PXK_UPPER}} điều chỉnh
                  <span class="circleHoaDonDieuChinhTang">
                    <i nz-icon nzType="arrow-up" nzTheme="outline"></i>
                  </span>
                            </span>

                            <span *ngIf="data?.trangThai == 4 && data?.loaiDieuChinh == 2" class="hoaDonDieuChinhRoundedShape" title="{{txtHD_PXK_UPPER}} điều chỉnh giảm">{{txtHD_PXK_UPPER}} điều chỉnh
                  <span class="circleHoaDonDieuChinhGiam">
                    <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
                  </span>
                            </span>

                            <span *ngIf="data?.trangThai == 4 && data?.loaiDieuChinh == 3" class="hoaDonDieuChinhRoundedShape" title="{{txtHD_PXK_UPPER}} điều chỉnh thông tin">{{txtHD_PXK_UPPER}} điều chỉnh
                  <span class="circleHoaDonDieuChinhThongTin">
                    <i nz-icon nzType="info" nzTheme="outline"></i>
                            </span>
                            </span>
                        </td>
                        <td [class.row-selected]="data.selected" title="{{ data?.uyNhiemLapHoaDon}}">{{ data?.uyNhiemLapHoaDon}}
                        </td>
                        <td [class.row-selected]="data.selected">{{ data?.mauSo }}</td>
                        <td [class.row-selected]="data.selected">{{ data?.kyHieu }}</td>
                        <td nzAlign="center" [class.row-selected]="data.selected">{{ data?.ngayHoaDon | date:'dd/MM/yyyy' }}</td>
                        <td [class.row-selected]="data.selected">{{ data?.soHoaDon }}</td>
                        <td [class.row-selected]="data.selected">{{ data?.maKhachHang }}</td>
                        <td [class.row-selected]="data.selected" title="{{ data?.tenKhachHang }}">{{ data?.tenKhachHang }}</td>
                        <td [class.row-selected]="data.selected">{{ data?.maSoThue }}</td>
                        <td [class.row-selected]="data.selected">{{ data?.hoTenNguoiMuaHang }}</td>
                        <td nzAlign="center" [class.row-selected]="data.selected">{{ data?.loaiTien?.ma }}</td>
                        <td nzAlign="right" [class.row-selected]="data.selected" title="{{ data?.tongTienThanhToan | formatPrice:true:ddtp.getTienQuyDoi() }}" class="money">{{ data.tongTienThanhToan | formatPrice:true:ddtp.getTienQuyDoi() }}</td>
                    </tr>
                    <tr class="total-footer" *ngIf="displayDatas.length <= 0">
                        <td colspan="12"> Không có dữ liệu hiển thị.
                        </td>

                    </tr>
                    <!-- <ng-container *ngIf="displayDatas.length > 0">
              <tr *ngFor="let obj of lstBangKeEmpty">
                  <td *ngFor="let empty of numberBangKeCols; let idx = index">
                      <span *ngIf="idx===0" class="font-while">.</span>
                  </td>
              </tr>
          </ng-container> -->

                    <tr class="total-footer" *ngIf="displayDatas.length > 0">
                        <td nzLeft="0px">Số dòng = {{displayDatas.length}}
                        </td>
                        <td colspan="10">
                        </td>

                        <td nzAlign="right" class="money">{{ displayDatas | sum: 'tongTienThanhToan' | formatPrice:true:ddtp.getTienQuyDoi() }}</td>
                    </tr>

                </tbody>
            </nz-table>
        </div>
    </div>
    <div *nzModalFooter style="padding-right: 4px!important;">
        <div nz-row>
            <div nz-col nzSpan="16" style="text-align: left;margin-top: 3px;">
                <span style="color: #1877f2;"><strong><i nz-icon nzType="info-circle" nzTheme="fill"></i></strong> Trường hợp không cho phép lập biên bản hủy hóa đơn được mô tả <strong style="cursor: pointer; font-style: italic;"  nzTooltipPlacement="bottomLeft" nz-tooltip  [nzTooltipTitle]="tooltipTemplate">tại đây</strong>
          </span>
                <ng-template #tooltipTemplate let-event>
                    <span>Các trường hợp không được phép lập biên bản hủy hóa đơn:</span><br/>
                    <span>1-Hóa đơn có trạng thái hóa đơn là <b>Hóa đơn điều chỉnh</b></span><br/>
                    <span>2-Hóa đơn có trạng thái hóa đơn là <b>Hóa đơn bị điều chỉnh</b> (Hóa đơn gốc bị điều chỉnh)</span><br/>
                    <span>3-Hóa đơn có trạng thái hóa đơn là <b>Hóa đơn gốc</b> và có lịch sử gửi hóa đơn cho khách hàng đã xuất hiện trạng thái <b>Đã gửi cho khách hàng</b> nhưng đã tham gia quy trình xử lý hóa đơn sai sót theo hình thức <b>Điều chỉnh</b> (Lập biên bản điều chỉnh hóa đơn, Lập hóa đơn điều chỉnh)</span><br/>
                    <span>4-Hóa đơn có trạng thái hóa đơn là <b>Hóa đơn gốc</b> và lịch sử gửi hóa đơn cho khách hàng chưa xuất hiện trạng thái <b>Đã gửi cho khách hàng</b></span><br/>
                    <span>5-Hóa đơn có trạng thái hóa đơn là <b>Hóa đơn thay thế</b> và lịch sử gửi hóa đơn cho khách hàng chưa xuất hiện trạng thái <b>Đã gửi cho khách hàng</b></span><br/>
                    <span>6-Hóa đơn đã Lập biên bản hủy hóa đơn</span><br/>
                </ng-template>
            </div>
            <div nz-col nzSpan="8">
                <button nz-button nzType="default" nzSize="small" style="margin-right: 2px;" (click)="next()" class="blueButton"><i nz-icon nzType="check" nzTheme="outline"></i>Đồng ý</button>
                <button nz-button nzType="default" nzSize="small" (click)="destroyModal()" class="button-cancel"><i nz-icon nzSize="small" nzType="close"></i>Đóng</button>

            </div>
        </div>
    </div>
</nz-spin>