@import "../../../../../shared/scss/modal.scss";

:host ::ng-deep .ant-tabs-nav-container {
    height: auto !important;
}

:host ::ng-deep .ant-tabs .ant-tabs-left-bar .ant-tabs-tab,
.ant-tabs .ant-tabs-right-bar .ant-tabs-tab {
    display: block !important;
    float: none !important;
    margin: 0 0 0 0 !important;
    padding: 1px 24px !important;
}

:host ::ng-deep .ant-tabs .ant-tabs-left-content {
    padding-left: 10px;
    padding-right: 8px;
}

.inner-content {
    margin-bottom: 15px !important;
}

:host::ng-deep .ant-tabs-tab-active:hover {
    color: white !important;
}

:host::ng-deep .info {
    color: red;
}

:host::ng-deep .ant-tabs-tab:hover {
    color: black;
}

:host ::ng-deep .ant-tabs .ant-tabs-left-bar .ant-tabs-tab,
.ant-tabs .ant-tabs-right-bar .ant-tabs-tab {
    display: block !important;
    float: none !important;
    margin: 0 0 0 0 !important;
    padding: 1px 24px !important;
    cursor: default !important;
    text-align: left !important;
}
