@import '../../../../shared/scss/modal.scss';
.centerInputText {
    text-align: center!important;
}

.marginLeftMinus9px {
    margin-left: -9px!important;
}

.marginLeftPlus9px {
    margin-left: 9px!important;
}

#layoutContent {
    height: 90vh;
    overflow-y: scroll;
    margin: 4px 120px 30px 120px;
    background-color: #fff;
}

#backgroundLayout {
    background-color: rgba(119, 119, 119, 0.6);
    height: 95vh;
}

#formLayout {
    margin-left: 60px;
    margin-right: 60px;
}

.sign-box {
    padding-top: 5px;
    background-image: url(".././../../../../assets/greentick.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: red;
    font-weight: bold;
    line-height: 18px;
    width: 290px;
    margin: 0 auto;
    white-space: break-spaces;
    text-align: center;
}

.disabled-button-state-v2 {
    padding: 0 7px!important;
}