<form nz-form [formGroup]="changePasswordForm" style="padding-right: 20px;" (ngSubmit)="saveChanges()">
  <nz-form-item>
    <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="password">Mật khẩu mới</nz-form-label>
    <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Vui lòng nhập mật khẩu mới!">
      <input nz-input type="password" formControlName="password" id="password">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="confirmPassword">Nhập lại mật khẩu mới</nz-form-label>
    <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="errorPass">
      <input nz-input type="password" formControlName="confirmPassword" id="confirmPassword">
      <ng-template #errorPass let-control>
        <ng-container *ngIf="control.hasError('required')">
          Vui lòng xác nhận mật khẩu mới!
        </ng-container>
        <ng-container *ngIf="control.hasError('notSame') && !control.hasError('required')">
          Mật khẩu mới không khớp, vui lòng xác nhận lại!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <button style="margin-top: 10px;" nz-button nzType="default" type="submit" [nzLoading]="isLoading" class="footer-save">Xác nhận</button>
  </nz-form-item>
</form>