<div nz-row style="margin-bottom: 2px;">
    <app-huong-dan-su-dung-modal></app-huong-dan-su-dung-modal>
  <!-- <app-snowflake></app-snowflake> -->

    <!-- <a [routerLink]="['/tien']"
    *ngIf="globalConstants.UserPermissions != null && (globalConstants.UserPermissions === true || globalConstants.UserPermissions.indexOf('Tien') >= 0)">
    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="6" nzXl="6" class="card1" nz-card-grid [ngStyle]="gridStyle">

      <i nz-icon nzType="money-collect" nzTheme="fill" style="color: yellowgreen;"></i>
      <h5>Tiền</h5>
    </div>
  </a>
  <a [routerLink]="['/mua-hang']"
    *ngIf="globalConstants.UserPermissions != null && (globalConstants.UserPermissions === true || globalConstants.UserPermissions.indexOf('MuaHang') >= 0)">
    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="6" nzXl="6" class="card1" nz-card-grid [ngStyle]="gridStyle">
      <i nz-icon nzType="shopping-cart" nzTheme="outline" style="color: #b57c78;"></i>
      <h5>Mua hàng</h5>
    </div>
  </a>
  <a [routerLink]="['/ban-hang']"
    *ngIf="globalConstants.UserPermissions != null && (globalConstants.UserPermissions === true || globalConstants.UserPermissions.indexOf('BanHang') >= 0)">
    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="6" nzXl="6" class="card1" nz-card-grid [ngStyle]="gridStyle">
      <i nz-icon nzType="shop" nzTheme="fill" style="color: #7c7cdc;"></i>
      <h5>Bán hàng</h5>
    </div>
  </a>

  <a [routerLink]="['/kho']"
    *ngIf="globalConstants.UserPermissions != null && (globalConstants.UserPermissions === true || globalConstants.UserPermissions.indexOf('MenuKho') >= 0)">
    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="6" nzXl="6" class="card1" nz-card-grid [ngStyle]="gridStyle">
      <i nz-icon nzType="home" nzTheme="fill" style="color: #ff4d4f;"></i>
      <h5>Kho</h5>
    </div>
  </a>

  <a [routerLink]="['/tai-san-co-dinh/ghi-tang']"
    *ngIf="globalConstants.UserPermissions != null && (globalConstants.UserPermissions === true || globalConstants.UserPermissions.indexOf('TaiSan') >= 0)">
    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="6" nzXl="6" class="card1" nz-card-grid [ngStyle]="gridStyle">
      <i nz-icon nzType="euro-circle" nzTheme="fill" style="color: #CDDC39;"></i>
      <h5>Tài sản cố định</h5>
    </div>
  </a>
  <a [routerLink]="['/chi-phi-tra-truoc/ghi-tang']"
    *ngIf="globalConstants.UserPermissions != null && (globalConstants.UserPermissions === true || globalConstants.UserPermissions.indexOf('ChiPhiTraTruoc') >= 0)">
    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="6" nzXl="6" class="card1" nz-card-grid [ngStyle]="gridStyle">
      <i nz-icon nzType="tool" nzTheme="fill" style="color: #607D8B;"></i>
      <h5>Chi phí trả trước</h5>
    </div>
  </a>
  <a [routerLink]="['/tong-hop']"
    *ngIf="globalConstants.UserPermissions != null && (globalConstants.UserPermissions === true || globalConstants.UserPermissions.indexOf('TongHop') >= 0)">
    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="6" nzXl="6" class="card1" nz-card-grid [ngStyle]="gridStyle">
      <i nz-icon nzType="block" style="color:chocolate"></i>
      <h5>Tổng hợp</h5>
    </div>
  </a>
  <a [routerLink]="['/bao-cao']"
    *ngIf="globalConstants.UserPermissions != null && (globalConstants.UserPermissions === true || globalConstants.UserPermissions.indexOf('BaoCao') >= 0)">
    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="6" nzXl="6" class="card1" nz-card-grid [ngStyle]="gridStyle">
      <i nz-icon nzType="area-chart" style="color:#009688"></i>
      <h5>Báo cáo</h5>
    </div>
  </a> -->
</div>