.login-form {
    max-width: 300px;
    display: inline-block;
    width: 300px;
    min-width: 300px;
  }
  
  .title {
    font-weight: 700;
    font-size: 20px;
  }
  
  #login-form {
    text-align: center;
    padding: 30px;
    padding-bottom: 30px;
  }
  
  .title {
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #7b8cd8;
  }
  
  .container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    z-index: 2;
    //border-radius: 10px;
    overflow: hidden;
    background: #fff;
  }
  
  /* .ant-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    z-index: 2;
  } */
  
  .container-login #background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.8;
    object-fit: cover;
  }
  
  #button-login {
    //background-color: #7b8cd8;
    // height: 40px;
    // border-radius: 15px;
    //border: 1px solid #7b8cd8;
    width: 120px;
  }
  
  .content input {
    height: 40px;
    border-radius: 15px !important;
  }
  
  .content-header {
    text-align: center;
    padding-bottom: 10px;
    padding: 30px;
    background-color: #7b8cd8;
  }
  
  .content-header img {
    height: 30px;
    width: auto;
    border-radius: 5%;
  }
  