<nz-spin [nzSpinning]="spinning">
  <div nz-row style="max-height: 84vh!important; overflow-y: auto; overflow-x : hidden; padding: 5px!important;">
    <div>
      <div>
        <div nz-row style="display: flex; align-items: center;">
          <div nz-col style="margin-top:0px!important">Hình thức hóa đơn</div>
          <div nz-col style="margin-left:10px!important" [ngClass]="{'notOpacityRadio': 1 == 1}">
            <nz-radio-group (ngModelChange)="changeHinhThucHoaDon($event)" class="switchSelect" [nzButtonStyle]="'solid'" nzSize="small" [(ngModel)]="displayDataTemp.HinhThucHoaDon" [nzDisabled]="checkedSuDungLoai === false" style="width: fit-content!important; display: flex!important; align-items: center!important;">
              <!-- <nz-option *ngFor="let item of listHinhThucHoaDon" [nzLabel]="item.text" [nzValue]="item.value">
              </nz-option> -->
              <span *ngIf="checkedSuDungLoai">
                <label nz-radio-button [nzValue]="1" data-value="1" class="orangeButton">Có mã của CQT</label>
                <label nz-radio-button [nzValue]="0" data-value="0" class="xanhButton switchSelectHover">Không có mã của CQT</label>
                <label nz-radio-button [nzValue]="2" data-value="2" class="vangkheButton switchSelectHover">Có mã từ máy tính tiền</label>
              </span>
              <span *ngIf="!checkedSuDungLoai">
                <label nz-radio-button [nzValue]="1" data-value="1" class="orangeButton-disabled" nzDisabled>Có mã của CQT</label>
                <label nz-radio-button [nzValue]="0" data-value="0" class="xanhButton-disabled" nzDisabled>Không có mã của CQT</label>
                <label nz-radio-button [nzValue]="2" data-value="2" class="yellowButton-disabled" nzDisabled>Có mã từ máy tính tiền</label>
            </span>
            </nz-radio-group>
          </div>
        </div>
        <div nz-row nzGutter="6" style="margin-bottom: 5px;">
          <div nz-col nzSpan="4">
            <div>Kỳ</div>
            <nz-select style="width: 100%;" nzSize="small" nzShowSearch nzPlaceHolder="Chọn kỳ"
              [(ngModel)]="displayDataTemp.Ky" (ngModelChange)="changeKy($event)">
              <nz-option *ngFor="let item of kys" [nzLabel]="item.value" [nzValue]="item.key"></nz-option>
            </nz-select>
          </div>

          <div nz-col nzSpan="3">
            <div>Từ ngày</div>
            <input style="width: 100%;" nzSize="small" type="date" max="2999-12-31" nz-input
              [(ngModel)]="displayDataTemp.fromDate" (blur)="blurDate()" />
          </div>

          <div nz-col nzSpan="3">
            <div>Đến ngày</div>
            <input style="width: 100%;" nzSize="small" type="date" max="2999-12-31" nz-input
              [(ngModel)]="displayDataTemp.toDate" (blur)="blurDate()" />
          </div>

          <div nz-col nzSpan="6">
            <form nz-form [formGroup]="thamSoForm">
              <div>Tìm kiếm theo</div>
              <nz-form-item>
                <nz-form-control [nzErrorTip]="errorTimKiemTheo">
                  <nz-input-group style="width: 100%;" nzSize="small" [nzPrefix]="prefixTemplateUser"
                    class="input-group-label">
                    <input type="text" nz-input [placeholder]="placeHolderTimKiemTheo()" nz-tooltip
                      [nzTooltipTitle]="placeHolderTimKiemTheo()" formControlName="timKiemTheo"
                      (ngModelChange)="changeTimKiemTheo()" nzTooltipPlacement="bottomRight" />
                  </nz-input-group>

                  <ng-template #errorTimKiemTheo let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      <div class="tooltip-error">&lt;Tìm kiếm theo&gt; không được để trống.</div>
                    </ng-container>
                  </ng-template>

                  <ng-template #prefixTemplateUser>
                    <i nz-icon nzType="setting" nzTheme="outline" nz-dropdown [nzDropdownMenu]="menuPlusMutiple"
                      [nzClickHide]="false"></i>
                    <nz-dropdown-menu #menuPlusMutiple="nzDropdownMenu">
                      <ul nz-menu>
                        <li nz-menu-item *ngFor="let item of timKiemTheos">
                          <label nz-checkbox [(ngModel)]="item.checked"
                            [ngModelOptions]="{standalone: true}">{{item.name}}</label>
                        </li>
                      </ul>
                    </nz-dropdown-menu>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </form>
          </div>
          <div nz-col nzSpan="4">
            <div>&nbsp;</div>
            <button class="blueButton" nz-button nzType="default" nzSize="small" style="padding: 0px 13px!important;"
              (click)="layDuLieu()"><i nz-icon nzType="sync" nzTheme="outline"></i>&nbsp;Lấy dữ liệu</button>
          </div>
        </div>
      </div>

      <div *ngIf="viewConditionList.length > 0" style='margin-top: 1px!important;'>
        <ul class="view-filter-list">
          <li *ngIf='viewConditionList.length > 0' style="margin-right: 0px!important;" class="blueText">Lọc:&nbsp;</li>
          <li *ngFor="let tl of viewConditionList; let i = index">
            <div>
              <span class="label">{{tl.label}}</span>
              <span class="value">{{tl.value}}</span>
              <i (click)="removeFilter(tl)" class="remove" nz-icon nzType="close" nzTheme="outline"></i>
            </div>
          </li>
        </ul>
      </div>

      <div style="font-weight: bolder; margin-top: 8px!important;">
        Thông báo về việc hóa đơn điện tử cần rà soát theo quy định tại Nghị định số 123/2020/NĐ-CP (Mẫu 01/TB-RSĐT)
      </div>

      <div>
        <form nz-form [formGroup]="mainForm" *ngIf="mainForm" class="container"
          style="margin-left: -2px!important;margin-right: -2px!important;">
          <nz-table [nzNoResult]="null" nzSize="small" #fixedTable [nzData]="listHoaDonRaSoat"
            [nzScroll]="{ x: '1440px', y: '200px' }" [nzShowPagination]="false" [nzFrontPagination]="false"
            [nzTotal]="listHoaDonRaSoat.length" [nzPageIndex]="1" [(nzPageSize)]="listHoaDonRaSoat.length"
            nzShowQuickJumper="true" nzBordered [nzLoading]="loading">
            <thead (nzSortChange)="sort($event)" nzSingleSort>
              <tr>
                <th style="line-height: 19px;" nzAlign="center" nzWidth="40px">
                </th>
                <th nzAlign="center" nzWidth="200px" nzShowSort nzSortKey="SoThongBaoCuaCQT" nzCustomFilter>Số thông báo
                  của CQT
                  <i nz-th-extra class="ant-table-filter-icon-ext" nz-icon nz-dropdown #ddSoThongBaoCuaCQT="nzDropdown"
                    nzType="filter" [nzDropdownMenu]="menuSoThongBaoCuaCQT"
                    [(nzVisible)]="mapOfStatusFilteredCols['soThongBaoCuaCQT']"
                    [class.ant-table-filter-open]="mapOfStatusFilteredCols['soThongBaoCuaCQT_marked']" nzTrigger="click"
                    (nzVisibleChange)="onVisibleFilterCol($event, 'soThongBaoCuaCQT', filterSoThongBaoCuaCQT)"
                    nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
                  <nz-dropdown-menu #menuSoThongBaoCuaCQT="nzDropdownMenu">
                    <app-filter-column #filterSoThongBaoCuaCQT [title]="tieuDeCacCotFilter[0]" [dataType]="1"
                      (submitFilterCol)="onFilterCol($event)">
                    </app-filter-column>
                  </nz-dropdown-menu>
                </th>

                <th nzAlign="center" nzWidth="140px" nzShowSort nzSortKey="NgayThongBao">Ngày thông báo</th>

                <th nzAlign="center" nzWidth="220px" nzShowSort nzSortKey="TenCQTCapTren" nzCustomFilter>Tên CQT cấp
                  trên
                  <i nz-th-extra class="ant-table-filter-icon-ext" nz-icon nz-dropdown #ddTenCQTCapTren="nzDropdown"
                    nzType="filter" [nzDropdownMenu]="menuTenCQTCapTren"
                    [(nzVisible)]="mapOfStatusFilteredCols['tenCQTCapTren']"
                    [class.ant-table-filter-open]="mapOfStatusFilteredCols['tenCQTCapTren_marked']" nzTrigger="click"
                    (nzVisibleChange)="onVisibleFilterCol($event, 'tenCQTCapTren', filterTenCQTCapTren)"
                    nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
                  <nz-dropdown-menu #menuTenCQTCapTren="nzDropdownMenu">
                    <app-filter-column #filterTenCQTCapTren [title]="tieuDeCacCotFilter[1]" [dataType]="1"
                      (submitFilterCol)="onFilterCol($event)">
                    </app-filter-column>
                  </nz-dropdown-menu>
                </th>

                <th nzAlign="center" nzWidth="220px" nzShowSort nzSortKey="TenCQTRaThongBao" nzCustomFilter>Tên CQT ra
                  thông báo
                  <i nz-th-extra class="ant-table-filter-icon-ext" nz-icon nz-dropdown #ddTenCQTRaThongBao="nzDropdown"
                    nzType="filter" [nzDropdownMenu]="menuTenCQTRaThongBao"
                    [(nzVisible)]="mapOfStatusFilteredCols['tenCQTRaThongBao']"
                    [class.ant-table-filter-open]="mapOfStatusFilteredCols['tenCQTRaThongBao_marked']" nzTrigger="click"
                    (nzVisibleChange)="onVisibleFilterCol($event, 'tenCQTRaThongBao', filterTenCQTRaThongBao)"
                    nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
                  <nz-dropdown-menu #menuTenCQTRaThongBao="nzDropdownMenu">
                    <app-filter-column #filterTenCQTRaThongBao [title]="tieuDeCacCotFilter[2]" [dataType]="1"
                      (submitFilterCol)="onFilterCol($event)">
                    </app-filter-column>
                  </nz-dropdown-menu>
                </th>

                <th nzAlign="center" nzWidth="220px" nzShowSort nzSortKey="TenNguoiNopThue" nzCustomFilter>Tên người nộp
                  thuế
                  <i nz-th-extra class="ant-table-filter-icon-ext" nz-icon nz-dropdown #ddTenNguoiNopThue="nzDropdown"
                    nzType="filter" [nzDropdownMenu]="menuTenNguoiNopThue"
                    [(nzVisible)]="mapOfStatusFilteredCols['tenNguoiNopThue']"
                    [class.ant-table-filter-open]="mapOfStatusFilteredCols['tenNguoiNopThue_marked']" nzTrigger="click"
                    (nzVisibleChange)="onVisibleFilterCol($event, 'tenNguoiNopThue', filterTenNguoiNopThue)"
                    nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
                  <nz-dropdown-menu #menuTenNguoiNopThue="nzDropdownMenu">
                    <app-filter-column #filterTenNguoiNopThue [title]="tieuDeCacCotFilter[3]" [dataType]="1"
                      (submitFilterCol)="onFilterCol($event)">
                    </app-filter-column>
                  </nz-dropdown-menu>
                </th>

                <th nzAlign="center" nzWidth="140px" nzShowSort nzSortKey="MaSoThue" nzCustomFilter>Mã số thuế
                  <i nz-th-extra class="ant-table-filter-icon-ext" nz-icon nz-dropdown #ddMaSoThue="nzDropdown"
                    nzType="filter" [nzDropdownMenu]="menuMaSoThue" [(nzVisible)]="mapOfStatusFilteredCols['maSoThue']"
                    [class.ant-table-filter-open]="mapOfStatusFilteredCols['maSoThue_marked']" nzTrigger="click"
                    (nzVisibleChange)="onVisibleFilterCol($event, 'maSoThue', filterMaSoThue)" nzPlacement="bottomRight"
                    [nzClickHide]="false" nzTableFilter></i>
                  <nz-dropdown-menu #menuMaSoThue="nzDropdownMenu">
                    <app-filter-column #filterMaSoThue [title]="tieuDeCacCotFilter[4]" [dataType]="1"
                      (submitFilterCol)="onFilterCol($event)">
                    </app-filter-column>
                  </nz-dropdown-menu>
                </th>

                <th nzAlign="center" nzWidth="100px">Thời hạn</th>
                <th nzAlign="center" nzWidth="60px">Lần</th>
                <th nzAlign="center" nzWidth="100px">Tình trạng</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of fixedTable.data; let i = index" (click)="selectedRow(data)"
                (dblclick)="openPdfViewer(data)">
                <td style="white-space: normal;" nzAlign="center" [class.row-selected]="data.selected"
                  [class.highLightRow]="data.daTichChon" nzShowCheckbox nz-tooltip
                  [nzTooltipTitle]="data.errorNgayThongBao? invalidMessageNgayThongBao: ''"
                  [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="changeTichChonThongBao(data, $event)"
                  [nzDisabled]="data.errorNgayThongBao">
                </td>
                <td style="white-space: normal;" [class.row-selected]="data.selected"
                  [class.highLightRow]="data.daTichChon" title="{{data.soThongBaoCuaCQT}}">
                  <!--
                      <input nz-input nzSize="small" readonly [value] = "data.soThongBaoCuaCQT" [ngClass] = "{'blueInputBackground': data.selected}" class = "linkSoThongBao"/>
                      -->
                  <span class="linkSoThongBao" (click)="downloadFileXML(data)">{{data.soThongBaoCuaCQT}}</span>
                </td>
                <td style="white-space: normal;" [class.row-selected]="data.selected"
                  [class.highLightRow]="data.daTichChon" nzAlign="center" nz-tooltip
                  [nzTooltipTitle]="data.errorNgayThongBao? invalidMessageNgayThongBao: ''">
                  <span [ngClass]="{'inValidNgay': data.errorNgayThongBao}">{{data.ngayThongBao |
                    date:'dd/MM/yyyy'}}</span>
                </td>
                <td style="white-space: normal;" [class.row-selected]="data.selected"
                  [class.highLightRow]="data.daTichChon" title="{{data.tenCQTCapTren}}">
                  {{data.tenCQTCapTren}}
                </td>
                <td style="white-space: normal;" [class.row-selected]="data.selected"
                  [class.highLightRow]="data.daTichChon" title="{{data.tenCQTRaThongBao}}">
                  {{data.tenCQTRaThongBao}}
                </td>
                <td style="white-space: normal;" [class.row-selected]="data.selected"
                  [class.highLightRow]="data.daTichChon" title="{{data.tenNguoiNopThue}}">
                  {{data.tenNguoiNopThue}}
                </td>
                <td style="white-space: normal;" [class.row-selected]="data.selected"
                  [class.highLightRow]="data.daTichChon" title="{{data.maSoThue}}">
                  {{data.maSoThue}}
                </td>
                <td style="white-space: normal;" [class.row-selected]="data.selected"
                  [class.highLightRow]="data.daTichChon" nzAlign="center">
                  {{data.ngayThoiHan | date:'dd/MM/yyyy'}}
                </td>
                <td style="white-space: normal;" [class.row-selected]="data.selected"
                  [class.highLightRow]="data.daTichChon" nzAlign="center">
                  {{data.lan}}
                </td>
                <td style="white-space: normal;" [class.row-selected]="data.selected"
                  [class.highLightRow]="data.daTichChon">
                  <span [ngClass]="data.tinhTrang?'trongHan': 'quaHan'">
                    {{data.tinhTrang? 'Trong hạn' : 'Quá hạn'}}
                  </span>
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="listHoaDonRaSoat.length == 0">
              <tr class="total-footer">
                <td colspan="10">Không có dữ liệu hiển thị.</td>
              </tr>
            </tfoot>
          </nz-table>

          <div style="font-weight: bolder; margin-top: 8px!important; margin-bottom: -5px!important;">
            Các hóa đơn cần rà soát
          </div>

          <div>
            <nz-table [nzNoResult]="null" style="margin-top: 5px;" nzSize="small" #fixedTable2
              [nzData]="this.mainForm.get('chiTietHoaDonRaSoats').value" [nzScroll]="{ x: '1320px', y: '200px' }"
              [nzShowPagination]="false" [nzFrontPagination]="false" [nzTotal]="totalRecords" [nzPageIndex]="1"
              [(nzPageSize)]="totalRecords" nzBordered [nzLoading]="loadingChiTiet">
              <thead>
                <tr>
                  <th nzAlign="center" nzWidth="40px">STT</th>
                  <th nzAlign="center" nzWidth="80px">Ký hiệu<br>mẫu số hóa đơn</th>
                  <th nzAlign="center" nzWidth="50px">Ký hiệu<br>hóa đơn</th>
                  <th nzAlign="center" nzWidth="70px">Số hóa đơn<br>điện tử</th>
                  <th nzAlign="center" nzWidth="80px">Ngày lập<br>hóa đơn</th>
                  <th nzAlign="center" nzWidth="80px">Loại áp dụng<br>hóa đơn điện tử</th>
                  <th nzAlign="center" nzWidth="340px">Lý do cần rà soát</th>
                  <th nzAlign="center" nzWidth="100px" nzRight="200px">Hủy/ Giải trình</th>
                  <th nzAlign="center" nzWidth="340px" nzRight="0px">Lý do</th>
                </tr>
              </thead>
              <tbody formArrayName="chiTietHoaDonRaSoats">
                <tr *ngFor="let data of mainForm.get('chiTietHoaDonRaSoats')['controls']; let i = index"
                  [formGroupName]="i">
                  <td nzAlign="center">
                    {{ i + 1}}
                  </td>
                  <td>
                    {{data.value.mauHoaDon}}
                  </td>
                  <td>
                    {{data.value.kyHieuHoaDon}}
                  </td>
                  <td>
                    {{data.value.soHoaDon}}
                  </td>
                  <td nzAlign="center">
                    {{data.value.ngayLapHoaDon | date:'dd/MM/yyyy'}}
                  </td>
                  <td nzAlign="center">
                    {{data.value.loaiApDungHD}}
                  </td>
                  <td>
                    <nz-form-item>
                      <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="errorLyDo">
                        <textarea nz-input placeholder="Không để trống, không quá 255 ký tự" nzSize="small" type="text" formControlName="lyDoRaSoat" [nzAutosize]
                          [readonly]="true" [title]="data.value.lyDoRaSoat == null?'': data.value.lyDoRaSoat"></textarea>
                          <ng-template #errorLyDo let-control>
                            <ng-container *ngIf="control.hasError('required')">
                              <div class="tooltip-error">&lt;Lý do&gt; không được để trống.</div>
                            </ng-container>
                            <ng-container *ngIf="control.hasError('invalid')">
                              <div class="tooltip-error">&lt;Lý do&gt; không được quá 255 ký tự.</div>
                            </ng-container>
                          </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </td>
                  <td nzRight="200px">
                    <nz-form-item>
                      <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="errorLoaiSaiSot">
                        <nz-select nzSize="small" formControlName="phanLoaiHDSaiSot" nzPlaceHolder="Không để trống"
                          [nzDisabled]="tongChieuRong2CotChiTiet == 0"
                          *ngIf="data.value.mauHoaDon === '' && data.value.kyHieuHoaDon === '' && data.value.soHoaDon === ''"
                          (ngModelChange)="daSuaNhapNoiDung()">
                          <nz-option nzCustomContent nzLabel="Điều chỉnh" [nzValue]="2">
                            <div>Điều chỉnh</div>
                          </nz-option>
                          <nz-option nzCustomContent nzLabel="Giải trình" [nzValue]="4">
                            <div>Giải trình</div>
                          </nz-option>
                        </nz-select>
                        <nz-select nzSize="small" formControlName="phanLoaiHDSaiSot" nzPlaceHolder="Không để trống"
                          [nzDisabled]="tongChieuRong2CotChiTiet == 0"
                          *ngIf="data.value.mauHoaDon !== '' || data.value.kyHieuHoaDon !== '' || data.value.soHoaDon !== ''"
                          (ngModelChange)="daSuaNhapNoiDung()">
                          <nz-option nzCustomContent nzLabel="Hủy" [nzValue]="1">
                            <div>Hủy</div>
                          </nz-option>
                          <!-- <nz-option nzCustomContent nzLabel="Điều chỉnh" [nzValue]="2">
                            <div>2-Điều chỉnh</div>
                          </nz-option> -->
                          <!-- <nz-option nzCustomContent nzLabel="Thay thế" [nzValue]="3">
                            <div>3-Thay thế</div>
                          </nz-option> -->
                          <nz-option nzCustomContent nzLabel="Giải trình" [nzValue]="4">
                            <div>Giải trình</div>
                          </nz-option>
                        </nz-select>
                        <ng-template #errorLoaiSaiSot let-control>
                          <ng-container *ngIf="control.hasError('required')">
                            <div class="tooltip-error">Không được để trống.</div>
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </td>
                  <td nzRight="0px">
                    <nz-form-item>
                      <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="errorLyDo">
                        <textarea nz-input placeholder="Không để trống, không quá 255 ký tự" nzSize="small" type="text" [nzAutosize]
                          formControlName="lyDo" [disabled]="tongChieuRong2CotChiTiet == 0"
                          [readonly]="tongChieuRong2CotChiTiet == 0"
                          [title]="data.value.lyDo == null?'': data.value.lyDo" (input)="daSuaNhapNoiDung()"></textarea>
                        <ng-template #errorLyDo let-control>
                          <ng-container *ngIf="control.hasError('required')">
                            <div class="tooltip-error">&lt;Lý do&gt; không được để trống.</div>
                          </ng-container>
                          <ng-container *ngIf="control.hasError('invalid')">
                            <div class="tooltip-error">&lt;Lý do&gt; không được quá 255 ký tự.</div>
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </td>
                </tr>
              </tbody>
              <tfoot *ngIf="totalRecords == 0">
                <tr class="total-footer">
                  <td colspan="9">Không có dữ liệu hiển thị.</td>
                </tr>
              </tfoot>
            </nz-table>
          </div>
        </form>
      </div>
    </div>
  </div>
</nz-spin>

<div *nzModalFooter>
  <div nz-row>
    <div nz-col nzSpan="12" style="text-align: left;">
      &nbsp;
    </div>
    <div nz-col nzSpan="12" style="text-align: right;">
      <button nz-button nzType="default" (click)="submitForm()" class="blueButton" nzSize="small"
        style="padding: 0px 13px!important;"><i nz-icon nzType="check" nzTheme="outline"></i>Xác nhận</button>
      <button nz-button nzType="default" (click)="closeModal()" class="button-cancel" nzSize="small"
        style="padding: 0px 13px!important;"><i nz-icon nzSize="small" nzType="close"></i>Hủy</button>
    </div>
  </div>
</div>
