.tab-set {
  // height: 500px;
  border: 0.5px solid #e8e8e8;
  // padding: 15px 0px;
}

:host ::ng-deep .ant-tabs-left-bar {
  border-color: #e8e8e8 !important;
}

.inner-content {
  // margin: -12px -20px;
}
:host ::ng-deep .ant-tabs .ant-tabs-left-content {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

:host ::ng-deep .ant-tabs-nav-container {
  height: auto !important;
}

:host ::ng-deep .ant-tabs .ant-tabs-left-bar .ant-tabs-tab,
.ant-tabs .ant-tabs-right-bar .ant-tabs-tab {
  display: block !important;
  float: none !important;
  margin: 0 0 0 0 !important;
  padding: 1px 24px !important;
  cursor: default !important;
  text-align: left !important;
}

:host ::ng-deep .ant-tabs .ant-tabs-left-content {
  padding-left: 10px;
  padding-right: 8px;
}
